<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SignalrServerDataAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="serviceexe"   value ="SignalrServer.exe -runonserver"/>
    <add key="servicename"  value ="SignalrServer"/>
    <add key="servicedesc"  value ="SignalrServer"/>
    <add key="serviceport"  value ="8080"/>
    <add key="testing"      value ="false"/>
  </appSettings>
</configuration>